.form-wrapper {
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 3);
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #ffffff;
}

.App {
    background-color: #eee;
    height: 100vh;
}

.btn {
    padding: 5px 30px !important;
    border-radius: 50px !important;
}
.sidebar {
    background: #fff;
    float: left;
    width: 300px;
    /* max-width: 25%; */
    height: 100vh;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0px
}

.main-view{
    position: fixed;
    left: 300px;
    background-color: #fafafa;
    height: 100vh;
    width: 100%;
}

ul.thread-list {
    list-style: none;
    padding: 0px;
}

ul.thread-list li a .zmdi {
    float: left;
    font-size: 48px;
    padding: 5px 15px;
    color: #ccc;
}
ul.thread-list li a {
    text-decoration: none;
    color: #444;
}

ul.thread-list li a h5 {
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul.thread-list li a p {
    font-size: 14px;
    color: #999;
}

ul.thread-list label {
    padding-left: 20px;
    font-size: 18px;
    /* font-size: 12px; */
    color: #aaa;
    padding-top: 10px;
}

.input-view {
    position: fixed;
    left: 300px;
    width: 100%;
    bottom: 0px;
}

.input-view .form-control {
    border: none;
    border-radius: 0px;
    border-top: 1px solid #eee;
    font-size: 14px;
    padding: 10px;
    height: auto;
}